.main-content {
    background-color: green;
    border: 3px solid yellow;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}

.paperon-p {
    font-size: 70px;
    font-family: sans-serif;
    color: red;
    text-align: center;
}

